
[submodule "src/civicrmapi"]
	path = src/civicrmapi
	url = git@github.com:/taylormadeapps/civicrmapi
[submodule "src/prefect-civi"]
	path = src/prefect-civi
	url = git@github.com:/taylormadeapps/prefect-civi
