
[submodule "src/civicrmapi"]
	path = src/civicrmapi
	url = git@github.com:/taylormadeapps/civicrmapi
[submodule "src/prefect-civi"]
	path = src/prefect-civi
	url = git@github.com:/taylormadeapps/prefect-civi
[submodule "src/prefect-openai"]
	path = src/prefect-openai
	url = git@github.com:PrefectHQ/prefect-openai.git
